{% if site.search_enabled != false %}
<script
    type="text/javascript"
    src="{{ '/assets/js/vendor/lunr.js' | absolute_url }}"
></script>
<script
    type="text/javascript"
    src="{{ '/assets/js/vendor/lunr.multi.js' | absolute_url }}"
></script>
<script
    type="text/javascript"
    src="{{ '/assets/js/vendor/lunr.stemmer.support.js' | absolute_url }}"
></script>
<script
    type="text/javascript"
    src="{{ '/assets/js/vendor/lunr.es.js' | absolute_url }}"
></script>
<script
    type="text/javascript"
    src="{{ '/assets/js/vendor/lunr.ja.js' | absolute_url }}"
></script>
{% endif %}
